/*-- scss:defaults --*/

$font-size-root: 11px;
$card-border-width: 0px;

$navbar-bg: #050707 !default;
$navbar-fg: #FFFFFF !default;
$bs-nav-link-hover-color: #FFFFFF !default;
$bs-nav-link-color: #FFFFFF !default;
$bs-nav-link-active-color: #f78a37 !default;
$bs-navbar-nav-link-padding-x: 1rem !default;

$bslib-spacer: .5rem;
$bs-card-spacer-y: .5rem;
$bs-card-spacer-y: .5rem;

/*-- scss:rules --*/

.quarto-dashboard .navbar .navbar-nav .active {
  background-image: url("images/wnba-logo.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px;
}

.nav-item {
  min-width: 60px !important;
}

.nav-link-text {
  padding-left: 6px !important;
}

.nav-link:hover, .nav-link:focus, .nav-link:active,
.navbar .navbar-nav .active {
  color: #f78a37 !important;
}

.bslib-card {
  min-width: 300px !important;
}

.rt-td-inner {
    padding: 6px;
}

.rt-th-inner {
  padding: 6px;
}

.reactable {
  border: 1px solid hsl(14, 28.80%, 88.40%);
  border-radius: 3px;
}

.my-header1 {
  font-size: 1.85rem;
  font-weight: 700;
}

.my-header2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.my-header3 {
  font-size: 1.35rem;
  font-weight: 600;
}

.no-bottom-marg {
  margin-bottom: 0;
  padding-bottom: 0;
}